body{
	margin: 0px;
	padding:0px;
	font-family: "roboto";
	font-weight: lighter;
	font-size: 30px;
/*	cursor: none;*/
	margin-bottom: -20px;
}

a{
	text-decoration: none;
	color:black;
}

#icon{
		border: solid 2px black;
		transform: rotate(0deg);
	  	width: 20px;
	  	height: 20px;
		position: fixed;
		top:600px;
		left:20px;
		transition: all .5s ease; 
	}
	#icon:hover{
		transform: rotate(45deg);
	}

	#menu{
		font-size: 30px;
		position: fixed;
		transform: rotate(15deg);
		left: 20px;
		top:10px;
		transform: rotate(0deg);
	    transition: all .5s ease; 
	}
	#menu:hover{
		transform: rotate(130deg);
		cursor: pointer;
	}
	
		.text1{
			font-size: 20px;
			display: block;
			position: absolute;
			/*transform: rotate(0deg);*/
		}
		
		.text2{
			font-size: 20px;
			display: block;
			position: absolute;
			transform: rotate(90deg);
		}
		
		.text3{
			font-size: 20px;
			display: block;
			position: absolute;
			transform: rotate(45deg);
		}
		
		.text4{
			font-size: 20px;
			display: block;
			position: absolute;
			transform: rotate(-45deg);
		}
	
			#p1{
				top:225px;
				left:-25px;
				font-weight: bold;
			}
			#p1:hover{
				transform: rotate(225deg);
			}

			#l1{
				top:440px;
				left:80px;
				width: 188px;
			}
			#l1:hover{
				transform: rotate(-90deg);
			}

			#t1{
				top:315px;
				left:165px;
				width: 265px;
			}
			#t1:hover{
				transform: rotate(180deg);
			}

			#t2{
				top:420px;
				left:360px;
				width: 153px;
			}
			#t2:hover{
				transform: rotate(-90deg);
			}

			#t3{
				top:370px;
				left:440px;
				width: 178px;
			}
			#t3:hover{
				transform: rotate(135deg);
			}

			#t4{
				top:170px;
				left:490px;
				transform: rotate(-90deg);
				width: 234px;
			}
			#t4:hover{
				transform: rotate(90deg);
			}

			#t5{
				top:55px;
				left:635px;
				width: 220px;
			}
			#t5:hover{
				transform: rotate(180deg);
			}

			#t6{
				top:150px;
				left:740px;
				width: 170px;
			}
			#t6:hover{
				transform: rotate(225deg);
			}

			#t7{
				top:160px;
				left:870px;
				width: 213px;
			}
			#t7:hover{
				transform: rotate(135deg);
			}

			#t8{
				top:220px;
				left:970px;
				width: 175px;
			}
			#t8:hover{
				transform: rotate(-90deg);
			}

			#t9{
				top:340px;
				left:1050px;
				width: 283px;
			}
			#t9:hover{
				transform: rotate(225deg);
			}

			#t10{
				top:460px;
				left:1310px;
				width: 177px;
			}
			#t10:hover{
				transform: rotate(180deg);
			}

			#t11{
				top:475px;
				left:1450px;
				width: 142px;
			}
			#t11:hover{
				transform: rotate(-90deg);
			}

			#t12{
				top:480px;
				left:1520px;
				width: 223px;
			}
			#t12:hover{
				transform: rotate(135deg);
			}

			#t13{
				top:400px;
				left:1740px;
				width: 227px;
			}
			#t13:hover{
				transform: rotate(180deg);
			}

			#t14{
				top:280px;
				left:1875px;
				transform: rotate(-90deg);
				width: 245px;
			}
			#t14:hover{
				transform: rotate(90deg);
			}

			#t15{
				top:325px;
				left:2005px;
				width: 232px;
			}
			#t15:hover{
				transform: rotate(225deg);
			}

			#t16{
				top:340px;
				left:2195px;
				width: 235px;
			}
			#t16:hover{
				transform: rotate(135deg);
			}

			#t17{
				top:230px;
				left:2330px;
				width: 213px;
			}
			#t17:hover{
				transform: rotate(180deg);
			}

			#t18{
				top:335px;
				left:2525px;
				width: 238px;
			}
			#t18:hover{
				transform: rotate(225deg);
			}
